@model IEnumerable<Front_Endeavor.Models.UserWorkspace>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary mb-lg-3 mt-1 p-3" onclick="location.href='@Url.Action("Create", "Workspaces")'">Create a Workspace</button>
            <div class="rounded p-1 mb-2 bg-light" style="border: 1px solid black;
                 -webkit-box-shadow: 3px 3px 4px 0px black;
                -moz-box-shadow: 3px 3px 4px 0px black;
                box-shadow: 3px 3px 4px 0px black;">
                <h4 class="mb-3 font-weight-normal">Your Workspaces:</h4>
                @if (Model.Count() == 0)
                {
                    <p>Once you're a team member in a workspace, your workspaces will appear here.</p>
                }
                else
                {
                    <ul class="text-left">
                        @foreach (var userWorkspace in Model)
                        {
                            <li><h5 class="font-weight-normal">@Html.ActionLink(userWorkspace.Workspace.Name, "Details", "Workspaces", new { id = userWorkspace.WorkspaceId }, new { area = "" })</h5></li>
                        }
                    </ul>
                }
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="display-4">Front-Endeavor</h1>
            Hello there, friend. Welcome to Front-Endeavor! Your virtual home and workspace for all of your
            front end project endeavors. You can get started by either creating your own workspace for your project,
            making you the developer lead for that project, or by contacting your developer lead on your team to add
            you to your team's worksapce.

            <div class="mt-3"><strong>As a developer lead you can:</strong></div>
            <div class="text-left">
                <ul style="display: table; margin: 0 auto;">
                    <li>Add users to your team's workspace</li>
                    <li>
                        Update important links for your project such as:
                        <ul>
                            <li>GitHub repository</li>
                            <li>Entity relationship diagram</li>
                            <li>Mockup diagram</li>
                        </ul>
                    </li>
                    <li>Pick and update your workspace's color theme</li>
                </ul>
            </div>

            <div class="mt-3"><strong>Any user is able to:</strong></div>
            <div class="text-left mb-3">
                <ul style="display: table; margin: 0 auto;">
                    <li>Post a message in any of your workspaces</li>
                    <li>Comment on anyone's post in any of your workspaces</li>
                    <li>Edit and delete any of your own posts or comments</li>
                    <li>Visit any of your workspaces project links</li>
                    <li>Turn dark mode on or off on any workspace view</li>
                </ul>
            </div>

            With all these awesome features, the team at Front-Endeavor knows you'll have the perfect virtual
            environment to help you and your team achieve your goals as smoothly as possible.
        </div>
    </div>
</div>
